.fishContainer {
  display: flex;
  flex-direction: column;
  height: '100%';
  width: 40%;
  margin-bottom: 80px;
}

.AddCaughtButton {
  background-color: darkgreen;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0;
  box-shadow: 2px 2px 5px black;
  color: white;
  font-family: aventura;
  height: 35px;
  text-shadow: 2px 2px 1px black;
  width: 100%;
}

.caught-fishContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  height: '100%';
  width: 40%;
  padding-bottom: 55px;
}

.prForm {
  height: 55px;
}

.fish-list {
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
  width: 100%;
}

.Card-Back {
  height: '100%';
  width: '100%';
}

.PR {
  font-size: 30px;
  position: relative;
  top: 20px;
}

div.flippy-card.flippy-front {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  border: 2px solid;
  display: flex;
  justify-content: center;
  width: 100%;
}

div.flippy-card.flippy-back {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  border: 2px solid;
  padding-bottom: 20px;
}

.FishPic {
  border-radius: 3px;
  box-shadow: 5px 5px 13px;
  height: 150px;
  margin: 0px;
}

.FishName {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.all-fish {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FishCardContainer {
  box-shadow: 3px 3px 7px;
  height: 350px;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-bottom: 5px;
}

.addPRForm {
  display: flex;
  flex-direction: row;
}

.NotCaughtTitle {
  font-family: aventura;
  font-size: 30px;
  text-align: center;
}

.Button-Flip {
  background-color: darkgreen;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: aventura;
  height: 45px;
  text-shadow: 2px 2px 1px black;
  width: 100%;
}

.Button-Flip-Back {
  background-color: darkgreen;
  border-radius: 5px;
  color: white;
  font-family: aventura;
  height: 35px;
  position: relative;
  text-shadow: 2px 2px 1px black;
  width: 200px;
}

.CaughtTitle {
  font-family: aventura;
  font-size: 30px;
  text-align: center;
}

.Card-Back-Content {
  color: white;
  position: relative;
  text-align: left;
  text-shadow: 2px 2px black;
  top: -8px;
}

.fishparagraph {
  font-size: 20px;
  justify-content: center;
  padding: 2px;
  text-shadow: 2px 2px 8px black;
}

.caught-list {
  display: flex;
  flex-flow: column;
}
.pr-title {
  left: 20px;
  position: relative;
  top: 17px;
}

.Card-Front {
  text-align: center;
}

.PR {
  color: white;
  text-shadow: 2px 2px black;
}

.pr-container {
  box-shadow: black;
  display: flex;
  flex-direction: row;
}

.inputPR {
  height: 40px;
  margin-left: 1em;
  position: relative;
  top: 3px;
  width: 80px;
}

.submitPR {
  border-bottom: 2px solid black;
  cursor: pointer;
  height: 50px;
  font-family: Gliford Demo;
  font-size: 20px;
  height: 50px;
  transition: all 0.4s ease 0s;
  width: 142px;
  z-index: 90;
}

.submitPR:hover {
  background-color: green;
  transition: all 0.4s ease 0s;
}

.submitPR:active {
  background-color: rgb(131, 236, 131);
  transition: all 0.1s ease 0s;
}

.submitPR:after {
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.addPRForm {
  background-image: url('https://adwallpapers.xyz/uploads/posts/419-distressed-white-wood-texture-background.jpg');
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}
