body {
  background: url('https://i.imgur.com/SotcQ8h.jpg') no-repeat center center
    fixed;
  background-size: cover;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: green;
  font-family: Aventura;
  font-size: 60px;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  text-shadow: black 3px 2px;
}

.button-container {
  display: flex;
  flex-direction: row;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-card {
  margin-left: 3em;
  margin-right: 3em;
}

.button-image {
  border: solid 1px black;
  border-radius: 8px;
  box-shadow: 0 8px 6px -6px black;
  height: 100%;
  width: 270px;
}

.tblink {
  bottom: 3em;
  color: black;
  font-family: Gliford Demo;
  font-size: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.mapLink {
  bottom: 3em;
  color: black;
  font-family: Gliford Demo;
  font-size: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.fishButton {
  background-color: white;
  border: 2px solid #494949;
  border-radius: 8px;
  box-shadow: 0 10px 20px -5px black;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 5px 5px 20px;
  transition: all 0.4s ease 0s;
  width: 200px;
}

.fishButton:hover {
  color: #ffffff !important;
  background: green;
  border-color: lightgrey !important;
  transition: all 0.4s ease 0s;
}

.fishLink {
  bottom: 3em;
  color: black;
  font-family: Gliford Demo;
  font-size: 50px;
  position: relative;
  justify-content: center;
  text-decoration: none;
}

.mapButton {
  background-color: white;
  border: 2px solid #494949;
  border-radius: 8px;
  box-shadow: 0 10px 20px -5px black;
  cursor: pointer;
  font-size: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 5px 5px 30px;
  transition: all 0.4s ease 0s;
  width: 150px;
}

.mapButton:hover {
  background: green;
  border-color: lightgrey !important;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.mapText {
  padding-right: 20px;
}

.tbButton {
  background-color: white;
  border: 2px solid #494949;
  border-radius: 8px;
  box-shadow: 0 10px 20px -5px black;
  cursor: pointer;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 5px 5px 15px;
  transition: all 0.4s ease 0s;
  width: 200px;
}
.tbButton:hover {
  background: green;
  border-color: lightgrey !important;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}
