.title-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.maptitle {
  color: green;
  font-family: Aventura;
  font-size: 50px;
  margin-top: 1em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.mapsubtitle {
  font-family: 'Gliford Demo';
  font-size: 30px;
  text-align: center;
}

#map {
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 100vh;
}

.form-modal-container {
  padding-bottom: 2em;
  padding-left: 29.5em;
  padding-right: 29.5em;
  margin-left: auto;
  margin-right: auto;
}

.map-page-container {
  display: flex;
  flex-direction: column;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.addMarkerFormLongLat {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.addMarkerFormName {
  margin-bottom: 10px;
}

.addMarkerFormAddress {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.or {
  color: white;
  font-family: Gliford Demo;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.modalContainer {
  position: relative;
  top: -750px;
  margin-right: 400px;
  box-shadow: 2px 2px 8px black;
  border-radius: 5px;
  background-image: url('https://ae01.alicdn.com/kf/HTB1UZdOKXXXXXXqXpXXq6xXFXXXT/5X7ft-White-wood-Texture-seamless-Floordrop-Wood-Distressed-Newborns-photo-studios-background-D-3516.jpg');
}

.ModalTitle {
  font-family: aventura;
  color: rgb(3, 179, 3);
  margin-right: 30px;
  margin-top: 30px;
  position: relative;
  top: 10px;
  text-shadow: 2px 2px black;
}

.spotPictureLabel {
  color: rgb(3, 179, 3);
  font-family: aventura;
  text-shadow: 2px 2px 1px black;
}

.fishingHoleLabel {
  color: rgb(3, 179, 3);
  font-family: aventura;
  text-shadow: 2px 2px 1px black;
}

.mapFormContainer {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  box-shadow: 2px 2px 3px black;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.addMarkerTitle {
  color: white;
  font-family: Aventura;
  padding-top: 0.5em;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.both-forms {
  display: flex;
  flex-direction: column;
  /* padding: 0.5em; */
}

.addMarkerOnBoard {
  color: white;
  font-family: 'Gliford Demo';
  font-size: 30px;
  padding-left: .5em;
  padding-right: .5em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.longitudeLabel {
  font-family: 'Gliford Demo';
  font-size: 25px;
}

.longitude-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
}

.latitude-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
}

.latitudeLabel {
  font-family: 'Gliford Demo';
  font-size: 25px;
}

.nameLabel {
  font-family: canter bold;
  position: relative;
  top: 2px;
  font-size: 25px;
}

.addressLabel {
  font-family: Gliford Demo;
  font-size: 25px;
}

.latitudeInput {
  border-radius: 5px;
  font-size: 20px;
  height: 2em;
}

.addressInput {
  border-radius: 5px;
  font-size: 20px;
  height: 2em;
  margin-bottom: 0.3em;
}

.addressInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 20px;
}

.latitudeInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 20px;
}

.longitudeInput {
  border-radius: 5px;
  font-size: 20px;
  height: 2em;
}

.longitudeInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 20px;
}

.nameInput {
  margin-right: 5px;
}

.nameSubmit {
  width: 75px;
  height: 30px;
  border-radius: 8px;
  font-family: canter bold;
  font-size: 20px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.addressSubmit {
  border-radius: 8px;
  cursor: pointer;
  font-family: Gliford Demo;
  font-size: 20px;
  height: 40px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: 1em;
  width: 85px;
}

.addressSubmit:hover {
  background: green;
  border-color: lightgrey !important;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.longLatSubmit {
  border-radius: 8px;
  cursor: pointer;
  font-family: Gliford Demo;
  font-size: 20px;
  height: 40px;
  margin-left: auto;
  margin-right: 1em;
  width: 85px;
}

.longLatSubmit:hover {
  background: green;
  border-color: lightgrey !important;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.modalContainer {
  z-index: 300;
  background-color: green;
  margin-left: 380px;
  padding-right: 70px;
  position: relative;
  right: -67px;
}
.locationSubmit {
  margin-top: 10px;
  width: 100px;
  font-family: canter-bold;
  font-size: 25px;
  height: 40px;
  margin-right: 130px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}
.locationSubmit:hover {
  transition: all 0.4s ease 0s;
  background-color: green;
}
.locationSubmit:active {
  transition: all 0.1s ease 0s;
  background-color: rgb(131, 236, 131);
  opacity: 1;
}

.spot {
  margin-top: 30px;
  margin-right: -30px;
}
.pic {
  margin-top: 10px;
  margin-right: 100px;
}
.body {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 110px;
}
.descriptionLabel {
  margin-right: 237px;
  margin-top: 10px;
  font-family: aventura;
  color: rgb(3, 179, 3);
  text-shadow: 2px 2px 1px black;
}
.bodyInput {
  height: 25px;
}
.locationDescriptionInput {
  height: 60px;
  width: 300px;
  margin-top: 5px;
  margin-right: 25px;
}

.closeModalButton {
  font-family: canter-bold;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 9px;
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-right: 0px;
  position: relative;
  right: -50px;
  transition: all 0.4s ease 0s;
}
.closeModalButton:hover {
  transition: all 0.4s ease 0s;
  background-color: green;
}

.closeModalButton:active {
  transition: all 0.1s ease 0s;
  background-color: rgb(131, 236, 131);
  opacity: 1;
}

.bodyLabel {
  font-family: aventura;
  color: rgb(3, 179, 3);
  text-shadow: 2px 2px 1px black;
}
