* {
  margin: 0px;
  padding: 0px;
}
html {
  text-align: right;
  justify-content: right;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 50px;
  margin: 3px;
}

.logoBtn {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  border-bottom: 2px solid black;
}

body {
  font-family: 'gliford demo';
}

ul {
  list-style: none;
  align-content: right;
  justify-content: right;
  display: flex;
  flex-direction: row;
}

.showNav {
  height: auto;
}

ul li a {
  color: white;
  display: block;
  font-family: 'gliford demo';
  font-size: 43px;
  justify-content: space-between 30px;
  padding: 10px;
  text-decoration: none;
  text-shadow: black 3px 2px;
  transition: all 0.5s ease;
}

ul li a:hover {
  color: green;
}

@media screen and (min-width: 640px) {
  nav {
    background-image: url('https://i.imgur.com/7vpsE7I.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: burlywood 2px solid;
  }
}

.btn {
  display: none;
}

ul {
  display: flex;
  height: auto;
}

nav ul a {
  background: transparent;
}

.logoBtn {
  border: none;
}
