.main-tb {
  background-image: url('https://adwallpapers.xyz/uploads/posts/419-distressed-white-wood-texture-background.jpg');
}

.body-container {
  display: flex;
  flex-direction: column;
}

.title-Container {
  display: flex;
  flex-direction: column;
}

.TB-title {
  font-family: Aventura;
  color: green;
  text-align: center;
  text-shadow: black 3px 2px;
  font-size: 50px;
}
.TB-subtitle {
  font-family: Gliford Demo;
  font-size: 30px;
  text-align: center;
}

.tacklebox-header {
  font-family: 'Aventura';
  font-size: 30px;
  text-align: center;
}

.all-lures-header {
  font-family: 'Aventura';
  font-size: 30px;
  text-align: center;
}

.Add-remove {
  border-radius: 8px;
  cursor: pointer;
  font-family: Gliford Demo;
  font-size: 20px;
  height: 40px;
  margin-bottom: .5em;
  margin-top: .5em;
  transition: all 0.4s ease 0s;
  width: 8em;
}

.current-tacklebox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: auto;
  width: 90%;
}

.lure-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  flex-flow: row wrap;
  width: 80%;
  right: -2px;
  align-content: center;
  margin: auto;
}

li .lure-card {
  line-height: 1.5em;
  font-family: Gliford-Demo;
  border-bottom: 1px solid #ccc;
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.lure-card {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  border-radius: 15px;
  box-shadow: 0 2px 5px 2px black;
  color: white;
 font-family: Gliford Demo;
  font-size: 30px;
  font-style: bold;
  margin-bottom: 40px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  width: 250px;
}

.lure-card-img {
  width: 150px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 2px black;
  align-content: center;
}

.current-tacklebox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid black;
  background-image: url('https://i.imgur.com/TvhzSme.jpg');
  background-size: cover;
  position: relative;
  right: 0px;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-family: Aventura;
  font-size: 35px;
  text-align: center;
  position: relative;
  top: -25px;
  text-shadow: 2px 2px 3px black;
}

.first-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  text-align: left;
}

.name-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.brand-container {
  display: flex;
  flex-direction: column;
}

.row-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  text-align: left;
}

.type-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.color-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.size-container {
  display: flex;
  flex-direction: column;
}

.addLure {
  background-image: url('https://i.imgur.com/TvhzSme.jpg');
  border: 2px black solid;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Aventura;
  font-size: 20px;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 30px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  transition: all 0.4s ease 0s;
}
.Add-remove:hover {
  background-color: rgb(3, 179, 167);
  transition: all 0.4s ease 0s;
}

textarea:focus,
input:focus {
  border: 2px solid #900;
}

.name-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10em;
}

.image-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10em;
}

.brand-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10em;
}

.type-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10.4em;
}

.color-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10.4em;
}

.size-input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  padding-left: 0.5em;
  width: 10.5em;
}

:placeholder-shown {
  font-size: 18px;
  position: relative;
  top: 2px;
}

.card-item-brand {
  font-family: Gliford Demo;
}

input.submit {
  cursor: pointer;
  border-radius: 10px;
  border-style: outset;
  font-family: Gliford Demo;
  font-size: 25px;
  height: 45px;
  margin-left: auto;
  margin-top: 1em;
  transition: all 0.4s ease 0s;
  width: 140px;
}

input.submit:hover {
  background-color: rgb(3, 179, 167);
  transition: all 0.4s ease 0s;
}
