body {
    font-family: helvetica;
}

h1 {
    font-family: Aventura;
    font-size: 50px;
    color: green;
    text-shadow: black 2px 2px;
    text-align: center;
}

h3 {
    font-family: "canter bold";
    text-align: center;
    font-size: 50px;
}

.Image-container {
    text-align: center;
}
.Location-header img {
    width: 300px;
    border: 20px solid transparent;
    box-shadow: 2px 2px 3px black;
    /* padding: 15px; */
    border-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2') 30 round;
    border-radius: 5px;
}

.Info-Section{
    text-align: center;
    background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
    height: 120px;
    position: relative;
    justify-items: center;
    text-justify: center;
    justify-content: center;
    top: 10px;
    right: -556px;
    width:330px;
    box-shadow: 2px 2px 3px black;

}
.description {
    font-family: "canter bold";
    font-size: 31px;
    width: 300px;
    text-align: center;
    position: relative;
    justify-items: center;
    right:-15px;
    justify-content: center;
    text-shadow: 2px 2px 3px black;
    top: 14px;
    color: white;
}

.date {
    font-family: "canter bold";
    position: relative;
    color: black;
    text-shadow: 2px 2px 3px white;
    font-size: 30px;
    top: 40px;
    right: -70px;
    z-index: 10000;
    padding: 0;
    margin: 0;
    text-align: center;
}

.weather {
    font: helvetica;
}

.time {
    font: helvetica;

}


.collapsible {
    background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
    color: white;
    text-shadow:2px 2px 3px black; ;
    font-family: "canter bold";
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    position: relative;
    right: -430px;
    font-size: 35px;
}

.active, .collapsible:hover {
    background-color: green;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    right:-430px;
    position: relative;
    background-color: #f1f1f1;
  }

  .trips-card {
      text-align: center;
  }
  .trip-wrapper {
      width: 40%;
      align-content: center;
  }

  .log {
      font-family: aventura;
      color: green;
      text-shadow: 2px 2px 3px black;
      
  }

  .formcontainer {
      position: absolute;
      top: 300px;
      left: 1100px;

  }