body {
  font-family: helvetica;
}

h1 {
  font-family: Aventura;
  font-size: 50px;
  color: green;
  text-shadow: black 2px 2px;
  text-align: center;
}

h3 {
  font-family: Gliford Demo;
  text-align: center;
  font-size: 50px;
}

.location-card {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.location-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.image {
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  margin-left: 1em;
  width: 100%;
}

.input {
  background-color: white;
  height: 40px;
  width: 200px;
}

.select {
  background-color: white;
  border-radius: 5px;
  height: 43px;
  width: 200px;
}

.info-section {
  margin-top: 1em;
  width: 100%;
}

.info {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  box-shadow: 2px 2px 3px black;
  color: white;
  font-family: 'Gliford Demo';
  font-size: 33px;
  justify-content: center;
  justify-items: center;

  padding: 0.5em;
  text-align: center;
  text-shadow: 2px 5px 3px black;
}

.description {
  font-family: 'Gliford Demo';
  font-size: 30px;
  width: 300px;
  text-align: center;
  position: relative;
  justify-items: center;
  right: -15px;
  justify-content: center;
  text-shadow: 2px 2px 3px black;
  top: 14px;
  color: white;
}

.descriptionInput {
  border-radius: 5px;
  height: 120px;
  width: 100%;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  text-align: center;
}

.date {
  color: black;
  font-family: Aventura;
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 3px white;
}

.description-text {
  margin-left: 2em;
}

.tripDate {
  font-family: Impact;
  margin-right: 0.5em;
}

div.row2 input {
  height: 25px;
}

select.lureChoice {
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.lureLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.lureCont {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0.1em;
}

::-webkit-input-placeholder {
  font-size: 14px;
}
input .placeHolder .time {
  font: helvetica;
}

.tripButton {
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Gliford Demo';
  font-size: 35px;
  text-align: center;
  vertical-align: center;
  width: 300px;
}

.tripButton:hover {
  background: green;
  border-radius: 8px;
  box-shadow: 0px 6px 15px black;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

.tripButton:after {
  opacity: 1;
  transition: all 0.5s;
}

.tripButton:focus {
  background-color: green;
  color: white;
}

.collapsible {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  color: white;
  text-shadow: 2px 2px 3px black;
  font-family: Gliford Demo;
  cursor: pointer;
  padding: 4px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  position: relative;
  right: -430px;
  font-size: 35px;
}

.addTrip {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  text-align: center;
}

.addTripForm {
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.collapsible:hover {
  background-color: green;
}

.content {
  text-align: left;
}

.content p {
  margin-left: 1em;
  margin-top: 10px;
}
.pastTrips {
  text-align: center;
  font-family: Aventura;
  color: green;
  text-shadow: black 2px 2px;
  margin-bottom: 0px;
  margin-top: 20px;
  right: 605px;
}
.tripscard {
  background-image: url('https://i.imgur.com/gMHAOqo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black 2px;
  border-radius: 8px;
  bottom: 40em;
  height: 30em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  z-index: 100;
}

.trip-wrapper {
  height: 100%;
}

label {
  color: white;
  text-shadow: 2px 2px black;
}

.log {
  color: green;
  font-family: aventura;
  text-align: center;
  text-shadow: 2px 2px black;
}

.dateSection {
  display: flex;
  flex-direction: column;
}

.trip-container {

}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
  margin: 1em;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.fourth-row {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-top: 1em;
}

.react-datepicker__input-container {
  display: inline-flex;
  margin-left: 0px;
}

.targetedSpecies {
  display: flex;
  flex-direction: row;
  font-family: Aventura;
  font-size: 20px;
}

.targetedSpeciesContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0.1em;
}

input.datePicker {
  margin-right: 8px;
  font-size: 15px;
  height: 25px;
}

.dateLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.timeLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.time {
  font-family: Aventura;
  font-size: 20px;
}

.speciesLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.speciesName {
  font-family: Aventura;
  font-size: 20px;
}

.timeCont {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.duration {
  font-family: Aventura;
  font-size: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-text {
  font-family: Aventura;
  font-size: 14px;
}

.weather {
  display: flex;
  flex-direction: column;
  font-family: Aventura;
  font-size: 20px;
}

.temperature {
  font-family: Aventura;
  font-size: 20px;
  margin-bottom: .5em;
}

.bestLure {
  font-family: Aventura;
  font-size: 20px;
}

.trip-description {
  font-family: Aventura;
  font-size: 20px;
}

.react-time-picker {
  background-color: white;
}

.tripNoModal {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: space-between;
}

.pastTripCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3em;
  width: 50%;
}

.tripsubmit {
  background-color: green;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  font-size: 25px;
  font-family: Gliford Demo;
  margin: 1em;
  margin-left: auto;
  transition: all 0.4s ease 0s;
}

.tripsubmit:hover {
  color: black;
  background-color: white;
  transition: all 0.4s ease 0s;
}

.location-and-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
}

.species {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Aventura;
  font-size: 20px;
  margin-top: 1em;
}

.no-target {
  font-family: Aventura;
  font-size: 20px;
}

p.no-target {
  margin-top: 0px;
}

.speciesHeader {
  margin-right: 1em;
}

.length {
  display: flex;
  flex-direction: column;
}

.lengthLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.temperatureLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  text-align: left;
}

.temperature {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0.1em;
}

.weatherLabel {
  font-family: Gliford Demo;
  font-size: 25px;
  position: relative;
  text-align: left;
  top: 0.1em;
}

.descriptionHeader {
  color: white;
  font-family: Gliford Demo;
  font-size: 25px;
  text-shadow: 2px 2px black;
  text-align: left;
}

.formcontainer {
  position: absolute;
  top: 300px;
  left: 1100px;
  z-index: 0;
  background-image: url('https://cdn10.bigcommerce.com/s-nxbphakg/products/136/images/1311/lost-coast-reclaimed-redwood-full-range__84102.1493922331.400.513.jpg?c=2');
}

.tripWithModal {
  margin-right: 10%;
  margin-left: 10%;
}
